<!--
ooooooooooooooooooooooooooo
aaaaaaa
e 
a
a
i
a
u
-->

<!DOCTYPE html>
<html>
    <head>
        <title>e e e e e e e e e</title>
        <link rel="stylesheet" href="static/css/adrenaline_is_pumping.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="static/js/generator.js"></script>
    </head>
    <body>
        <div class="are_you_ready">
            <div class="innovator">
                <p class="killer_machine">Tuxedo</p>
            </div>
            <div class="cocaine">
                <p id="dont_you_try_it">
html and js code by <a href="https://github.com/ry00001">ry00001</a><br>
css by <a href="https://github.com/Ratismal">stupid cat</a> (and ry, but mostly catware)<br>
special thanks to KuanHulio for making the thing<br>
colon caret closed round bracket
                </p>
            </div>
        </div>
    </body>
</html>